<h1>Time#index</h1>
<p>Find me in app/views/time/index.html.erb</p>
<p>Find js in app/assets/javascripts/application.js</p>
<p>Find me in app/assets/stylesheets/application.css</p>

<div class="top">

</div>
<div class="container">

 <button onclick="displayDate()">What time is it?</button>

 <p id="demo"></p>
</div>
